{% extends "app/base.html" %}
{% block title %}
About
{% endblock title %}

{% block content %}
  <h3>About our <strong>Pets</strong></h3>
  <h1>Our mission and Goals are.</h1>
  <h2>To give good products for all your </h2>
  <h2>To Know more about our page </h2>
  <a href="#about" class="btn-get-started scrollto">View</a>
{% endblock content %}


{% block body %}
<section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <h3>Learn More <span>About Us</span></h3>
          <p>We love all pets we are echo friendly.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Pet Shop was introduced to make things easier for your pets to search products, or any items you needed. 
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Easy for the user to check on any products</li>
              <li><i class="ri-check-double-line"></i> Return policy or exchange with the products are easy now in our shop</li>
              <li><i class="ri-check-double-line"></i> Events for pets will be held once in a month.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our finest products is been introduced by jack and rose, in the year 1997. Then on our petstore has been
              the only one which had more users and buyers, around both locally and International. From all over the country, 
              we have been supplying out best products. <br>
              we have gained many happy customers.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Footer ======= -->
<footer id="footer">

        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>PetStore</h3>
                <p>
                  No 2, 8th Cross<br>
                  Bangalore, BU 560013<br>
                  Karnataka<br><br>
                  <strong>Phone:</strong> +91 8296211367<br>
                  <strong>Email:</strong> vignesh8296211367@gmail.com<br>
                </p>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Free Check up for Pets</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Grooming of Pets</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Home Delivery of Pet Products</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Coupons</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Burial Care</a></li>
                </ul>
              </div>
    
              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Join Our Protest</h4>
                <p>Lets save our sad ones and provide them a home and give them shelter, Be a part of Donator</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Donate">
                </form>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container d-md-flex py-4">
    
          <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
              &copy; Copyright <strong><span>PetStore</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
              Designed by <a href="">Vignesh R</a>
            </div>
          </div>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://www.facebook.com/profile.php?id=100011070706420" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/vignesh5988/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://github.com/Vignesh5980" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://www.linkedin.com/in/vignesh-r-3444811a0/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
    </footer><!-- End Footer -->
{% endblock body %}
